.title {
    font: 600 20px / 1.2 "Inter", sans-serif;
    color: #101828;
}

.text {
    font: 400 16px / 1.5 "Inter", sans-serif;
    color: #6c717b;
    margin-bottom: 15px;
}

.formList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBooking {
    border-radius: 12px;
    width: 527px;
    height: 60px;
    background: #f7f7f7;
    border: none;
    padding-left: 18px;
    outline: none;
}

.inputBookingComment {
    border-radius: 10px;
    width: 527px;
    height: 118px;
    background: #f7f7f7;
    border: none;
    padding-left: 18px;
    outline: none;
    margin-bottom: 15px;
}

.labelInput {
    margin-bottom: 14px;
}

.btnSend {
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: #e44848;
    color: #fff;
}

.btnSend:hover, 
.btnSend:focus {
    background: #d84343;
}

.boxForm {
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 44px;
    margin-left: 40px;
}