.box {
    display: flex;
    margin: 30px;
    gap: 10px;
}

.boxItem {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.online {
    color: green;
}

.offline {
    color: red;
}