.table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    width: 500px;
}

tbody tr:nth-child(even) {
    background-color: rgb(195, 195, 195);;
}

.title {
    background-color: black;
    color: white;
}